/* CSS OF ALERT PART */
.alert{
    background: #ffdb9b;
    padding: 18px 35px;
    min-width: 420px;
    position: absolute;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
  z-index: 10000;
}
.alert.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}
.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}
.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}
.alert .close-btn:hover{
    background: #ffc766;
}
.alert .close-btn .fas{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

#span2{
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: green;
    font-size: 24px;
    background:rgb(18, 176, 18, 0.615);
    border-radius: 50px;
    padding: 6px 7px;
}
#span4{
    position: absolute;
    left: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(156 14 14);
    font-size: 23px;
    background:rgb(208 25 8);
    border-radius: 50px;
    padding: 6px 10px;
}
@media only screen  and (max-width: 480px){
  @keyframes show_slide {
  0%{
    transform: translateY(-100%);
  }
  40%{
    transform: translateY(-10%);
  }
  80%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-10px);
  }
  }
  @keyframes hide_slide {
  0%{
    transform: translateY(-10px);
  }
  40%{
    transform: translateY(10%);
  }
  80%{
    transform: translateY(20%);
  }
  100%{
    transform: translateY(-150%);
  }
  }
  .alert{
    min-width: 99%;
    right: 0px;
    top: 17px;
  }
  .msg{
    font-size: 13px !important;
  } 
}
@media only screen  and (max-width: 768px){
  @keyframes show_slide {
  0%{
    transform: translateY(-100%);
  }
  40%{
    transform: translateY(-10%);
  }
  80%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-10px);
  }
  }
  @keyframes hide_slide {
  0%{
    transform: translateY(-10px);
  }
  40%{
    transform: translateY(10%);
  }
  80%{
    transform: translateY(20%);
  }
  100%{
    transform: translateY(-150%);
  }
  }
  .alert{
    min-width: 99%;
    right: 0px;
    top: 17px;
  }
  .msg{
    font-size: 13px !important;
  } 
}